<%= content_for(:title, "All Users | JW") %>
<% if @users.any? %>
  <h1 class="page-header text-center">Current Users of JW</h1>
  <% @users.in_groups_of(2, false).each do |group| %>
  <div class="row clearfix">
    <% group.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="col-md-6">
          <div class="well">
            <h2 class="lead text-center"><%= user.name %></h2>
            <%= image_tag "contact.jpg", class: 'img-responsive' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
<% else %>

<p class="lead">
  No users are currently registered.
</p>
<% end %>
