$('#new_project').hide()
$('.link-group').show()
$('#lang-group').append('<div class="col-md-6"><div class="well"><h2 class="lead text-center"><%= link_to @project.name, category_project_path(@category, @project) %></h2><%= image_tag "program.png", class: "img-responsive" %></div></div>')
