<h1 class="page-header text-center">Welcome to Freqy Designs</h1>

<p class="lead">
  Freqy Designs was created with one thing in mind: Portfolio management system for web designers. This platform serves
  as an area for anyone who would like to post up skills and projects related to those skills.
</p>

<p>
  If you are interested in signing up you can <%= link_to 'Sign-up here!', new_user_registration_path %>
</p>
