@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootswatch/slate/variables";
@import "bootstrap";

@import "bootswatch/slate/bootswatch";


.category-body {
  padding: 20px;
}

.link-group a {
  align: center;
}

#test {
  display: none;
}

.img-responsive {
  margin: 0 auto;
}

a {
  color: rgba(0, 251, 224, 0.94);
}

#lang-group {
  padding: 10px;
}

#post {
  margin-top: 1%;
  p.lead {
    font-size: 24px;
  }
}

#post-comment {
  display:none;
}

#reference-list {
  display: none;
}

#hide-references {
  display: none;
  color: #rgb(175, 173, 181);
}

#see-references {
  color: #rgb(175, 173, 181);
}

#add-reference {
  display: none;
}

.comments{
  margin-top: 1%;
  padding: 5px ;
  background: #767e83;
  .comment {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #1c1e22;
    background: #1c1e22;
    color: #01edd4;
  }
}

.navbar-default .navbar-nav > li > a {
  font-size: 1.4em;
}

.navbar-default .navbar-nav > li > a:hover {
  transition: background-color .5s ease;
  background: rgb(57, 49, 55);
}

#last {
  padding-right: 25px;
}
