$('#add-category').show();
$('#new_category').hide();
$('#lang-group').append('<div class="col-md-6"> <div class="well"> <h2 class="lead text-center"><%=  link_to @category.name, category_path(@category) %></h2> <%=  image_tag "program.png", class: "img-responsive" %> </div>');
