<%= content_for(:title, "Categories | Freqy" ) %>


<h1 class="page-header text-center">My Languages and Skills</h1>

<%= link_to "Add Category", new_category_path, remote: true, class: "btn btn-success btn-block", id: 'add-category' %>


<div id="lang-group">
  <% @categories.in_groups_of(2, false).each do |categories| %>
  <div class="row clearfix">
    <% categories.each do |category| %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="lead text-center"><%= link_to category.name, category_path(category) %></h2>
          <%= image_tag "program.png", class: "img-responsive" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
